<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="bg-gray-800 p-4">
        <div class="container mx-auto flex justify-between items-center">
        <a href="#" class="text-white text-lg font-bold">Brand</a>
        <button class="text-white md:hidden" id="menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
        </button>
        <ul class="hidden md:flex space-x-4 text-white" id="menu">
        <li><a href="/" class="hover:text-gray-400">Home</a></li>
        <li><a href="/create-page" class="hover:text-gray-400">Create new user</a></li>
        </ul>
        </div>
    </nav>
    <H1>List Users</H1> 
<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    ID
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Email
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Username
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <% listUser.forEach((user)=> {%>
            <tr class="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    <%= user.id %>
                </th>
                <td class="px-6 py-4">
                    <%= user.email %>
                </td>
                <td class="px-6 py-4">
                    <%= user.username %>
                </td>
                <td class="px-6 py-4">
                    <a class="border-b" href="update-page/<%= user.id %>">Edit</a>
                   <form action="/delete-user/<%= user.id %>" method="POST">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
    
 
</div>
</body>
</html>